* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 15px;
  }
  html {
    margin: 0;
    padding: 0;
    background-color: #fff;
    scroll-behavior: smooth;
  }
  body {
    margin: 0px;
    padding: 0px;
  }
  .layar-dalam {
    width: 1000px;
    margin: auto;
  }
  layar-penuh {
    width: 100%;
  }
  nav {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: fixed;
    border-bottom: 1px solid ;
    line-height: 60px;
    width: 100%;
    transition: background-color 0.5s ease;
  }
  nav.putih {
    background-color: #67b0d1;
  }
  nav .logo {
    float: left;
    position: relative;
    line-height: 55px;
    text-align: center;
  }
  nav .logo img {
    vertical-align: middle;
    width: 120px;
  }
  
  nav .menu {
    float: right;
    height: 60px;
    max-width: 600px;
  }
  
  nav .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav .menu ul li {
    list-style-type: none;
    float: left;
    line-height: 60px;
  }
  
  nav ul li a {
    color: #fff;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* pengaturan header */
  header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
  }
  header video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
    width: 100%;
    height: 100%;
  }
  header .intro {
    z-index: 100px;
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
  }
  header .intro h3 {
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
  header .intro p {
    font-size: 15px;
    margin-top: 15px;
  }
  .tombol {
    background-color: #fcaf29;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px 0px 20px;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 20px;
  }
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 50%;
    z-index: -1;
  }
  .tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }
  .tombol-menu .garis {
    height: 3px;
    background-color: #fff;
  }
  section {
    padding: 50px 0px 50px 0px;
  }
  section h3 {
    font-size: 30px;
  }
  section h3::after {
    content: "";
    border-bottom: 5px solid #4929fc;
    width: 52px;
    display: block;
    margin: 20px auto;
  }
  #aboutus {
    text-align: center;
  }
  section p.ringkasan {
    font-style: italic;
    font-size: 18px;
    color: #0f0e0e;
    text-align: justify;
  }
  section .konten-isi p {
    font-family: itali;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;

  }
  nav.putih {
    background-color: #72A6E4;
  }
  nav.putih .tombol-menu .garis {
    background-color: #0f0f0f;
  }
  nav.putih ul li a {
    color: #0f0f0f;
  }
  nav .logo img.hitam {
    display: none;
  }
  @media screen and (max-width: 991.98px) {
    .layar-dalam {
      width: 90%;
    }
    nav .menu ul {
      display: none;
      margin-top: 60px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    nav .menu ul li {
      width: 100%;
      border-bottom: 1px solid #ccc;
      background-color: #fff;
      line-height: 40px;
    }
    nav .menu ul li a {
      color: #333;
    }
    .tombol-menu {
      display: flex;
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    text-align: center;
    padding: 1rem;
    margin-bottom: .5rem;
    background: rgb(13, 13, 13);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
}

.blogs-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}

/* Keyframe to slide text from left to right */
@keyframes slide-right {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Apply the animation to the text in the header */
  header .intro h3 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    animation: slide-right 2s ease-in-out;
  }
  
  /* Optional: Apply the same animation to paragraph in the header */
  header .intro p {
    font-size: 15px;
    margin-top: 15px;
    animation: slide-right 2.5s ease-in-out;
  }
  